#loginFormtrue{
    position: relative;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1em;
}

#loginFormtrue #xButton{
    float: right;
}

#loginFormfalse{
    visibility: hidden;
}

#HomeContent{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1em;
}

#HavaintoKortti{
    margin: 5px;
}

#HavaintoKaruselli{
    text-shadow: 2px 2px black;
    padding-top: 5px;
}

#HavaintoKaruselliItem img{
    height: 200px;
    border-radius: 5px;
}

#lintuFigImg{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 0;
}

#havaintoModal .row{
    margin: 2px;
}